# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.gitignore
React Monitor/.vs/slnx.sqlite
React Monitor/.vs/VSWorkspaceState.json
React Monitor/.vs/React Monitor/FileContentIndex/c913ee32-8205-4c10-b89f-6df904e3a9ef.vsidx
React Monitor/.vs/React Monitor/v17/.wsuo
React Monitor/.vs/React Monitor/v17/DocumentLayout.backup.json
React Monitor/.vs/React Monitor/v17/DocumentLayout.json